{% extends 'admin/layout.html' %}
{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="page-title pull-left">{% if user %}Edit{% else %}Create{% endif %} User</div>
    <a href="{{ url_for('admin.create_user')}}" class="btn btn-sm btn-default btn-embossed pull-right">Create User</a>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-6">
    <form method="post" action="{{ form_url }}">
      {{ form.csrf_token }}
      <div class="row">
        <div class="col-md-6">
          <div class="form-group {% if form.first_name.errors %}has-error{% endif %}">
            {{ form.first_name.label }}
            {{ form.first_name(class='form-control') }}
            {% if form.first_name.errors %}
              <span class="help-block">{{ form.first_name.errors[0] }}</span>
            {% endif %}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group {% if form.last_name.errors %}has-error{% endif %}">
            {{ form.last_name.label }}
            {{ form.last_name(class='form-control') }}
            {% if form.last_name.errors %}
              <span class="help-block">{{ form.last_name.errors[0] }}</span>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="form-group {% if form.email.errors %}has-error{% endif %}">
        {{ form.email.label }}
        {{ form.email(class='form-control') }}
        {% if form.email.errors %}
          <span class="help-block">{{ form.email.errors[0] }}</span>
        {% endif %}
      </div>
      <div class="form-group {% if form.password.errors %}has-error{% endif %}">
        {{ form.password.label }}
        {{ form.password(class='form-control') }}
        {% if form.password.errors %}
          <span class="help-block">{{ form.password.errors[0] }}</span>
        {% endif %}
      </div>
      <div class="form-group">
          <label class="checkbox">
            {{ form.is_admin(data_toggle="checkbox") }}
            {{ form.is_admin.label.text }}
          </label>
      </div>
      <button type="submit" class="btn btn-primary btn-embossed">Save</button>&nbsp;&nbsp;
      {% if user %}
        <a href="{{ url_for('admin.delete_user', id=user.id) }}" class="btn btn-danger btn-embossed">Delete</a>
      {% endif %}
    </form>
  </div>
</div>

{% endblock %}
