{% extends 'layout.html' %}
{% block title %}Forgot Password{% endblock %}
{% block content %}

<div class="row">
  <div class="col-lg-offset-3 col-lg-6">
    <form method="post" action="{{ url_for('main.reset_password', token=token) }}">
      {{ form.csrf_token }}
      <div class="form-group {% if form.new_password.errors %}has-error{% endif %}">
        {{ form.new_password(class="form-control", placeholder="New Password") }}
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default">Set New Password</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
