{% extends 'layout.html' %}
{% block title %}New Post{% endblock %}
{% block content %}

<div class="row">
  <div class="col-lg-offset-2 col-lg-8">
    <form method="post" action="{{ endpoint }}">
      {{ form.csrf_token }}
      <div class="form-group {% if form.title.errors %}has-error{% endif %}">
        {{ form.title(class="form-control", placeholder="Title") }}
        {% for error in form.title.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.body(class="form-control", rows=10) }}
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default">Save</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
