{% extends 'layout.html' %}
{% block title %}Manage Posts{% endblock %}
{% block content %}

<div class="row">
  <div class="col-lg-6"><h4>Manage Posts</h4></div>
  <div class="col-lg-6">
    <a href="{{ url_for('admin.new_post') }}" class="btn btn-default pull-right">New Post</a>
  </div>
  <div class="col-lg-12">
    <table class="table">
      {% if posts %}
        {% for post in posts %}
          <tr>
            <td>{{ post.title }}</td>
            <td><a href="{{ url_for('admin.edit_post', id=post.id) }}">Edit</a></td>
            <td><a href="{{ url_for('admin.delete_post', id=post.id) }}">Delete</a></td>
          </tr>
        {% endfor %}
      {% else %}
        <tr><td colspan="3"><em>No posts yet</em></td></tr>
      {% endif %}
    </table>
  </div>
</div>

{% endblock %}
