{% extends 'admin/layout.html' %}
{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="page-title pull-left">Manage Users</div>
    <a href="#" class="btn btn-primary btn-embossed pull-right">Create User</a>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Gavin Vickery</td>
          <td>gavin@geekforbrains.com</td>
          <td class="text-right">
            <a href="#"><i class="glyphicon glyphicon-pencil"></i></a>&nbsp;
            <a href="#"><i class="glyphicon glyphicon-trash"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
