<nav class="navbar navbar-inverse navbar-embossed navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <span class="navbar-brand">Admin</span>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-01">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ url_for('admin.manage_users') }}">Users</a></li>
        <li><a href="#">Posts</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('admin.logout') }}">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav><!-- /navbar -->
