<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}Home{% endblock %} - Flask Starter</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="{{ url_for('main.index')}}">Posts</a></li>
            <li role="presentation"><a href="{{ url_for('user.login') }}">Login</a></li>
            <li role="presentation"><a href="{{ url_for('user.register') }}">Register</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Flask Starter</h3>
      </div>

      {% with messages = get_flashed_messages(with_categories=True) %}
        {% for category, message in messages %}
          {% if category == 'error' %}
            <div class="alert alert-danger">{{ message }}</div>
          {% else %}
            <div class="alert alert-success">{{ message }}</div>
          {% endif %}
        {% endfor %}
      {% endwith %}

      {% block content %}{% endblock %}

      <footer class="footer">
        <p>&copy; Flask Starter</p>
      </footer>
    </div> <!-- /container -->

    <script src="{{ url_for('static', filename='bootstrap.main.js') }}"></script>
  </body>
</html>
